.gaming-toggle-on {
  font-family: Arial;
  font-size: 16px;
  padding: 10px 20px;
  background-color: lightgrey;
  color: black;
  border:none;
  border-radius: 6px;
  cursor: pointer;
}
.gaming-toggle-off {
  background-color: black;
  color: white;
}
.music-toggle-on {
  font-family: Arial;
  font-size: 16px;
  padding: 10px 20px;
  background-color: lightgrey;
  color: black;
  border:none;
  border-radius: 6px;
  cursor: pointer;
}
.music-toggle-off {
  background-color: black;
  color: white;
}
.tech-toggle-on {
  font-family: Arial;
  font-size: 16px;
  padding: 10px 20px;
  background-color: lightgrey;
  color: black;
  border:none;
  border-radius: 6px;
  cursor: pointer;
}
.tech-toggle-off {
  background-color: black;
  color: white;
}